@media (min-width: 768px) {
		.logo_left {
			margin-left: 20px;
		}
}

@media (min-width: 990px) {
		.logo_left {
			margin-left: 88px;
		}
}

@media (max-width: 767px) {
		.logo_right {
			clear: none;
		}
}