@charset "utf-8";
/* CSS Document */
*{
margin: 0;
	padding: 0;
	}
.header_logo{
width:100%;
clear:both;
padding-top:25px;
background-color:#0191DA;
    padding-bottom: 32px;
}
.logo_left {
    width: 50%;
}
.logo_left img{
width:48%;
}
span.icon i {
    font-size: 30px;
}

.logo_right {
    clear: both;
    float: right;
margin-top: -43px;
color:#FFFFFF;
}
.logo_right ul li{
    display: inline-block;
    padding-right: 133px;
}
.logo_right ul li i {
    font-size: 30px;
    /* margin-right: 21px; */
   /* margin-left: -44px; */
       margin-bottom: 5px;
}
.logo_right ul li p{
    margin-left: 46px;
    margin-top: -32px;
    font-size: 20px;
	}
   
.logo_right ul li img {
       width: 38px;
    border-radius: 48px;
    /* margin-right: 17px; */
    margin-left: -6px;
    /* margin-top: 5px; */
    padding-top: -3px;
}
.image_header{
background-image:url(images/buying_house.jpg);
background-size: 100% 100%;
    background-repeat: no-repeat;
	color:#FFFFFF;
}
.left_brows {
    color: white;
    margin-left: 30px;
    font-style: inherit;
	    clear: both;
    padding-top: 24px;
}
.left_brows i {
    font-size: 22px;
}

.left_brows p {
    font-size: 22px;
    margin-left: 30px;
    margin-top: -22px;
}
.right_brows{
float:right;
}
.right_brows p {
    font-size: 18px;
    margin-right: 38px;
    margin-top: -24px;
    display: block;
	border:1px solid;
	border-radius: 6px;
	padding:10px;
}
.back_next_logo {
    margin-top: 70px;
    /* margin-bottom: 70px; */
    padding-bottom: 70px;
}
.back_images i {
    color: white;
    font-size: 169px;
    clear: both;
    float: left;
    width: 50%;
}
.next_images i {
    color: white;
    font-size: 169px;
    /* float: right; */
    /* clear: both; */
    margin-left: 610px;
}
.photo {
    margin-left: 226px;
    font-size: 19px;
	padding-bottom:180px;
}
.favorite {
    float: right;
   /* margin-right: 222px;*/
  margin-top: -68px;
}
.home {
margin-right:211px;
}
.home i {
margin-left:-42px;
font-size:37px;
}
.home p{
margin-top:-19px;
font-size:19px;
}
.style{
margin-left:210px;
margin-top:-70px;
}
.style i {
font-size:31px;
}
.style p{
font-size:18px;
}
.dark{
clear:both;
background-color:#CCCCCC;
}

.div_shadow
{
       box-shadow: inset 6px -7px 0px -41px #ABABAB, -1px 5px 5px 1px #242424;
    -webkit-box-shadow: inset -40px 41px -14px -41px #ABABAB, 84px 5px 5px 1px #242421;
    -moz-box-shadow: inset 6px -7px 0px -41px #ABABAB,-1px 5px 5px 1px #242424;
    -o-box-shadow: inset 6px -7px 0px -41px #ABABAB,-1px 5px 5px 1px #242424;
    width: 46%;
    background-color: white;
    clear: both;
    margin-left: 90px;
    /* margin-top: -141px; */
    /* padding-top: 10px; */
    /* margin-bottom: 30px; */
    padding: 30px;
    /* margin-top: 10px; */
    position: absolute;
    top: 510px;
}
.medici h2{
clear:both;
margin-top:19px;
margin-left:86px;
font-size:28px;
}
.medici p{
margin-left:229px;
margin-top:-20px;
}
.form ul li{
display:inline-block;
padding:28px;
}
.form p{
font-size:19px;
margin-bottom:20px;
}
.standard_pack {
    float: right;
    width: 26%;
    margin-right: 36px;
    margin-top: 30px;
}
.standard_pack h3 {
    /* padding-right: 20px; */
    padding-left: 41px;
    margin-top: -30px;
    margin-bottom: 50px;
	color:#00587E;
}
.zach{
    border-bottom: 3px solid red;
}
.zach h4{
    font-size: 20px;
    margin-bottom: 5px;
}
.zach p{
        font-family: serif;
    font-style: inherit;
    font-size: 16px;
    margin-bottom: 10px;
}
.contect{
    margin-top: 20px;
}
.contect p{
    font-size: 16px;
    margin-bottom: 10px;
}
.contect h2{
    font-size: 22px;
    color: #00B1D9;
    padding: 1px;
}
.contect h2 i{
    padding: 10px;
    font-size: 15px;
    color:white;
    background-color: #00B1D9;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.black{
    background-color: #575A5F;
    clear: both;
	color:#668CA0;
}
.black button.button.button1 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 90px;
    padding: 10px;
    border-radius: 5px;
		color:#1D9F9D;
}
.black button.button.button1 i {
    margin-left: 4px;
    font-size: 16px;
}
.black button.button.button2 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
		color:#1D9F9D;
}
.black button.button.button2 i {
    margin-left: 4px;
    font-size: 16px;
}
.dark_again{
    background-color: #F5F5F5;
}
.map_view{
width:50%;
clear:both;
float:right;
margin-top:-426px;
}
.map_view img{
width:80%;
margin-left:35px;
height:426px;
}
.home{
width:100%;
}
.home ul{
width:90%;
margin:auto;
 
border-bottom: 4px solid white;
}
.home ul li{

   display: inline-block;
    margin-top: 50px;
    /* margin-left: 64px; */
    font-size: 20px;
    padding-right: 35px;
	padding-bottom:20px;
}
.home ul li a{
text-decoration:none;
color:#000000;
border-bottom:4px solid #FFFFFF;
padding-bottom:21px;
color:#1D9F9D;
}
.home ul li a:hover{
border-color:#000000;

}
.atteched {
    width: 50%;
    margin-top: 20px;
}
.atteched p{
width:66%;
margin-left:65px;
}
.atteched ul{
margin-left:117px;
margin-top:20px;
}
.atteched ul li{
margin-top:3px;
}
.view p{
margin-top:20px;
}
span.icon_right_angle {
    margin-left: 4px;
}
.view p a{
text-decoration:none;
}
.visit{
padding-top:169px;}
.visit h3{
margin-left:65px;
margin-bottom:20px;
}
.floorplan{
clear:both;
width:100%;
background-color:#F5F5F5;
}
.floorplan h3{
margin-left:60px;
padding-top:110px;
    font-size: 26px;
}
.floorplan .image{
text-align:center;
padding-top:35px;
}
.floorplan .image img{
width:91%;
height:460px;
}
.school_amenities{
background-color: #F5F5F5;
    clear: both;
    padding-top: 100px
}
.school_amenities h3{
margin-left:50px;
}
.school_amenities .floating-box {
   margin-left: 64px;
    margin-right: 172px;
    /* display: inline-block; */
    margin-top: 30px;
    display: inline-grid;
	
}
.school_amenities .floating-box p {
    margin-top: 10px;
	color:#B7B7B7;
}
.school_amenities .floating-box ul li {
    margin-top: 13px;
	color:#B7B7B7;
}
.list-image{
background-color: #F5F5F5;
padding-top:100px;
}
.list-image h3{
margin-left:50px;
}
.floating-images {
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: -33px;
	margin-bottom:50px;
}
.blue_light {
    /* margin: auto; */
    background-color: blue;
    /* margin-left: 50px; */
    /* margin-top: 20px; */
    padding-top: 20px;
    padding-bottom: 35px;
}
.blue_light p{
margin-left:50px;
    margin-right: 43px;
}
.footer{
background-color:#001D2B;
}
.footer .footer_icon h2{
   font-size: 22px;
    color: #00B1D9;
    padding: 1px;
    /* text-align: center; */
    /* margin: auto; */
    display: inline-block;
    /* margin-left: 190px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 196px;
}
.footer .footer_icon h2 i{
    padding: 10px;
    font-size: 15px;
    color:white;
    background-color: #00B1D9;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
}
